
Core/Library/*
Core/Library/metadata/*
Core/Temp/

Release/
!Release/*.exe
!Release/*.dll

Debug/
bin/
obj/

*.apk
*.userprefs
*.zip
*.sln
*.unityproj
*.vshost.exe
*.csproj
*.sln
*.svn
*.DS_Store
*.suo
*.pdb
*.cache

!Execute/*/*.ipa
!Execute/*/*.apk
